<h2>Comment Details</h2>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comment.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>
<strong>Image:</strong>

<% if @comment.image.present? %>
    <%= cl_image_tag( @comment.image,
    :width=>400, :aspect_ration=>"2.5", :crop=>"crop" )%>
<% end %>
<br>
<br>
<!-- <h2>Comment Details</h2>
    post: <%= @comment.title %> -->


<!-- <p>
  <strong>Image:</strong>
  <%= @comment.image %>
</p> -->
<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
<br>
<%= link_to "Go to comments", comments_path %>

<hr>
<ol>
<p>User Followees This comment: </p>
<% @comment.followers(User).each do |u| %>
<li><%= link_to u.name,  user_path(u.id) %></li>
<% end %>
</ol>
<br>
<% if @current_user.follows?(@comment) %>
  <%= link_to "unfollow", ("/comments/unfollow/" + @comment.id.to_s) %>
<% else %>

  <%= link_to "follow", ("/comments/follow/" + @comment.id.to_s) %>
<% end %>

<br>
<% if @current_user.likes?(@comment) %>
  <%= link_to "unlike", ("/comments/unlike/" + @comment.id.to_s) %>
<% else %>

  <%= link_to "like", ("/comments/like/" + @comment.id.to_s) %>
<% end %>

<br>
total users who likes the  <%= @comment.content %> is:  <%= @comment.likers(User).length %>
<br>
total users who follow the <%= @comment.content %> is: <%= @comment.followers(User).length %>
