<div class="form-group">
<%= form_for @user, html: {multipart: true} do |f|%>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email %>
  </div>
  <br>
  <div class="form-group">

  <%= f.label :password %>
  <%= f.password_field :password %>
  </div>
  <br>

  <div class="form-group">

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
  </div>
  <br>

  <div class="form-group">

  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>
  <br>
  <div >
    <div class="form-group">
    <%= f.label :image%>
  </div>
  <div class="btn btn-info" >
    <%= f.cl_image_upload :image%>
  </div>
  <br>
  <div >

  <%= f.submit class:"btn btn-info"%>
</div>
<% end %>
</div>
<br>
<br>
