<h2>User Details</h2>

<% if @current_user == @user %>
  <%= link_to 'Edit profile', edit_user_path(@user) %>
<% end %>

<p>Email: <%= @user.email %> </p>

<p>Name: <%= @user.name %> </p>

<img src="<%= @user.image %>" alt="">

<!-- <p><u>Followers</u></p> -->
<%= link_to "follow this user", follow_user_path(@user) %>
<hr>
<p>Users <%=@user.name%> has friended : </p>
<ul>
<% @user.friended.each do |u| %>
<li><%= link_to u.name,  user_path(u.id) %></li>
<% end %>
</ul>

<hr>



<p>Users who have friended <%=@user.name%> : </p>
<ul>
<% @user.friended.each do |u| %>
<li><%= link_to u.name,  user_path(u.id) %></li>
<% end %>
</ul>


<hr>
<p>Comments <%=@user.name%> likes: </p>
<ul>
<% @user.liked_comments.each do |u| %>

    <li><%= link_to u.title,  comment_path(u.id) %>   <%= link_to "Unlike" , user_path(unlike_comment) %></li>


<% end %>
</ul>



<hr>


<p><%= link_to "Find Friends", users_path %></p>
