<h2>Uder Deatils</h2>

<%= render partial: 'layouts/nav' %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="profile-resume" class="card">
        <%#= image_tag('/assets/background-images-13.jpeg' , class: "card-img-top img-responsive" )%>
        <img src="/assets/background-images-13.jpeg" class="card-img-top img-responsive">
        <div class="card-block">
          <%= image_tag(@user.image , class: "card-img" )%>
          <p4 class="card-title"><%=@user.name%>
            <small><%=@user.email%></small>
          </p4>

          <ul class="list-inline list-unstyled">
            <!-- <li id="card-tweets">
                        <a href="#">
                        <span class="profile-stats">Tweets</span>
                        <span class="profile-value">99k</span>
                        </a>
                    </li>
                    <li class="card-following">
                        <a href="#">
                        <span class="profile-stats">Following</span>
                        <span class="profile-value">7</span>
                        </a>
                    </li>
                    <li class="card-followers">
                        <a href="#">
                        <span class="profile-stats">Followers</span>
                        <span class="profile-value">132k</span>
                        </a>
                    </li>
                    </ul> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div id="main-card" class="card">
          <form id="new-message">
            <div class="input-group">
              <!-- <input type="text" class="form-control" placeholder="What is happening?"> -->

              <div class="search_form  ">
              <%= form_tag("/searchPost", method: "get") do %>
              <%= label_tag(:post, "") %>
              <%= text_field_tag(:post,:"", placeholder: "Search Post", :class => 'searchfield') %>
              <%= image_submit_tag("search", :class => 'mag')%>

   <% end %>

      </div>
              <!-- <span class="input-group-addon">
               <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
              </span> -->
            </div>
          </form>
          <ul id="feed" class="list-unstyled">
            <% @user.posts.each do | post | %>
            <li>
              <%= image_tag(post.image , class: 'feed-avatar img-circle') %>
              <div class="feed-post">
                <h4><%= post.title%>
                  <small>&nbsp; by:
                    <%=@user.name%>
                  </small>
                </h4>
                <p><%= post.content%></p>
              </div>
              <div class="action-list">
                <!-- <a href="#">
                                        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                    </a> -->
                <!-- <a href="#"> -->
                  <span class="glyphicon glyphicon-thumb-img"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpzrp-W0R3apoNZbqMdb7zx9C7oQE9R5Qe9BDoesN2NDE3mQ8q8Q" aria-hidden="true"></span>
                  <span class="retweet-count"><%= post.likers(User).length %>
                    <a href="posts_path"></a <span class="btn btn-primary"><%= link_to "All Comments" , comments_path, class:"btn btn-primary" %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  </span>
                </span>
              <!-- </a> -->
              <!-- <a href=""> -->
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  -->
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span><%= post.followers(User).length %>
              <!-- </a> -->
            </div>
          </li>
          <%end%>
        </ul>
      </div>
      <nav class="text-center">
        <ul class="pagination pagination-lg">
          <li class="disabled">
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="active">
            <a href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li>
            <a href="#">2</a>
          </li>
          <li class="disabled">
            <a href="#">...</a>
          </li>
          <li>
            <a href="#">3</a>
          </li>
          <li>
            <a href="#">4</a>
          </li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-4">
    <h3>  <%= link_to "follow this user", follow_user_path(@user) %></h3>
    <hr>
    <!-- <h3>Users
      <%=@user.name%>
      has friended:
    </h3> -->
    <ol>
      <% @user.friended.each do |u| %>
      <li><%= link_to u.name,  user_path(u.id) %></li>
      <% end %>
    </ol>

    <hr>

    <h3>Users who have friended
      <%=@user.name%>
      :
    </h3>
    <ol>
      <% @user.friended.each do |u| %>
      <li><%= link_to u.name,  user_path(u.id), class:"btn btn-primary" %><%= link_to image_tag(u.image),user_path(u.id),  class:"img-rounded", width:"304", height:"236" %> </li>

      <% end %>
    </ol>

    <hr>
    <h3>Comments
      <%=@user.name%>
      likes:
    </h3>
    <ol>
      <% @user.liked_comments.each do |u| %>

      comment title: <li><%= link_to u.title,  comment_path(u.id), class:"btn btn-primary" %></li>

      <% end %>

    </ol>
    <%= link_to "All Comments" , comments_path, class:"btn btn-primary" %>

    <h2>Posts
      <%=@user.name%>
      likes:
    </h2>
    <ol>
      <% @user.liked_posts.each do |u| %>

      post title:<li><%= link_to u.title,  post_path(u.id), class:"btn btn-primary"  %></li>

      <% end %>
    </ol>

    <hr>

    <!-- <%= link_to "ALl Comments" , comments_path, class:"btn btn-primary" %> -->

    <!-- <%= link_to "Find Friends", users_path, class:"btn btn-primary"%> -->
  </div>
  </div> <!-- row  -->
  <!-- <hr> -->
  <br>
  <br>
  <br>
  <!--  <%= link_to "follow this user", follow_user_path(@user) %> -->

  <!-- <p><u>Followers</u></p> -->

</div>
</div>
</div>
