<h1><strong><u>Post Details</u></strong></h1>
<%= render partial: 'layouts/nav' %>

<p id="notice"  class="text-capitalize"><%= notice %></p>

<p  class="text-capitalize">
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p  class="text-capitalize">
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p  class="text-capitalize">
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p  class="text-capitalize">
  <h5><strong>Image:</strong></h5>
  <% if @post.image.present? %>
      <%= cl_image_tag( @post.image,
      :width=>400, :aspect_ration=>"2.5", :crop=>"crop" )%>
    <% end %>
</p>


<br>
<ol>
  <hr>
<p  class="text-capitalize"><strong><u>Users Felowers This Post: <% @post.followers(User).each do |u| %>

  <li><%= link_to u.name, post_path(u.id), class:"text-capitalize" %></li>
  <% end %>
</u></strong>
</p>
</ol>



<!-- <ol>
<p>User Followees This post:<%=@post.title %> </p>
<% @post.followers(User).each do |u| %>
<li><%= link_to u.name,  user_path(u.id) %></li>
<% end %>
</ol>
<br> -->
<% if @current_user.follows?(@post) %>
  <%= link_to "unfollow", ("/posts/unfollow/" + @post.id.to_s) %>
<% else %>

  <%= link_to "follow", ("/posts/follow/" + @post.id.to_s) %>
<% end %>
<br>

<hr>



<ol>
<p  class="text-capitalize"><strong><u>User Likes This Post <%=@post.title%> is:
<% @post.likers(User).each do |u| %>
<li><%= link_to u.name, user_path(u.id) %></li>
<% end %>
</u></strong> </p>
</ol>



<% if @current_user.likes?(@post) %>
  <%= link_to "unlike", ("/posts/unlike/" + @post.id.to_s) %>
<% else %>

  <%= link_to "like", ("/posts/like/" + @post.id.to_s) %>
<% end %>

<!-- <%= @current_user.name %> who likes:  -->
<br>
<p  class="text-capitalize"><strong><u>total posts who follow the <%= @post.title %> is:  <%= @post.likers(User).length %></u></strong></p>
<br>
<p  class="text-capitalize"><strong><u>total users who follows the <%= @post.title %> who followers is:  <%= @post.followers(User).length %></u></strong></p>




<%= link_to 'Edit', edit_post_path(@post), class:"btn btn-info"%>
<%= link_to 'Back', posts_path, class:"btn btn-info" %>
