<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>image:</strong>
  <% if @post.image.present? %>
      <%= cl_image_tag( @post.image,
      :width=>400, :aspect_ration=>"2.5", :crop=>"crop" )%>
    <% end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<br>
<ul>
  <hr>
<p>Users Felowers This Post: <% @post.followers(User).each do |u| %>

  <li><%= link_to u.name, post_path(u.id) %></li>
  <% end %>
</p>
</ul>

<ul>
<p>User Likes This Post <%=@post.title%>: </p>
<% @post.likers(User).each do |u| %>
<li><%= link_to u.name, user_path(u.id) %></li>
<% end %>
</ul>
