
<div class="row ">
    <div class="col m12">
            <ul id="admin-dropdown" class="dropdown-content">
                <li><a href="/users">Users</a></li>
                <li><a href="/spots">Spots</a></li>
                <li><a href="/comments/admin">Comments</a></li>
                <li class="divider"></li>
            </ul>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper z-depth-5 ">
                        <!-- insert slider -->
                        <a href="#" data-activates="slide-out" id="slider-button"><i class="material-icons">menu</i></a>
                        <div id="welcome-message">Hey, <%=@current_user.name%>!</div>
                        <ul class="right hide-on-med-and-down">
                            <li><a href="/app" class="tooltipped" data-position="bottom" data-delayed="15" data-tooltip="Home" ><i class="material-icons">home</i></a></li>
                            <li><a href="/maps/show" class="tooltipped" data-position="bottom" data-delayed="15" data-tooltip="Map" ><i class="material-icons">map</i></a></li>
                            <li><a href="#!" class="tooltipped dropdown-button" data-activates="admin-dropdown" data-position="bottom" data-delayed="15" data-tooltip="Settings"><i class="material-icons right">settings_applications</i></a></li>
                        </ul>
                    </div>
                </nav>
            </div>
    </div>
</div>
<!-- slide out menu -->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <%= image_tag("http://i.imgur.com/tmzoXxT.jpg") %>
            </div>
            <!-- <a href="#!user"><img class="circle" src="images/yuna.jpg"></a> -->
            <%= cl_image_tag( @current_user.image, :width=>200, :height=>200, :gravity=>"face", :radius=>"max", :effect=>"shadow", :crop=>"thumb" )%>
            <a href="/users/<%=@current_user.id%>"><span class="black-text name">Welcome, <%=@current_user.name%></span></a>
            <a href="#!email"><span class="black-text email"><%=@current_user.email%></span></a>
        </div>
    </li>
    <li><a class="waves-effect" href="/users/<%=@current_user.id%>/edit">Edit Your Profile</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Login/Logout</a></li>
    <li><%= link_to 'Logout', login_path, method: :delete , class: "waves-effect"%></li>
</ul>
<!--  end of slideout menu -->



<script>
$(document).ready(function(){
     $("#slider-button").sideNav();
   });
</script>
