<!DOCTYPE html>
<html>
  <head>
    <title>Facebook APP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Facebook APP</title>

  </head>
  <body>

  <nav>
  <% unless @current_user.present? %>
    <%= link_to 'Login', login_path, class: "btn btn-primary " %>  <%= link_to 'Signup', new_user_path, class: "btn btn-primary "%>
  <% else %>
    <p>
      <h3><strong>Welcome, <%= link_to @current_user.name, user_path(@current_user) %> |
      <%= link_to 'Logout', login_path, method: :delete %></h3></strong>
    </p>
    <%= render partial: 'layouts/nav' %>
  <% end %>
  </nav>
    <%= yield %>



<!-- | -->
    <!-- <a class="btn btn-default" href="#" role="button"> HELLO </a> -->
  </body>
</html>
